/* .main-footer {
  width: 100%;
  background-color: #333;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-top: 1em;
  position: relative;
  bottom: 0;
  align-items: flex-start;
}
.col {
  width: 100%;
  justify-content: space-between;
  position: relative;

} */