 @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  background-color: #efefef;
}

#root {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
.content-wrap {
  width: 100%;
  flex: 1;
  background-color: white;

}

.Header {
  width: 100%;
  height: 110px;
  background-color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
}

.Logo {
  width: 300px;
  height: 100px;
}

.Header h1 {
  font-size: 1.5rem;
  color: black;
  font-family: 'Pacifico', 'cursive';
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .08em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}
/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: transparent }
}

/* .Header svg {
  font-size: 2rem;
} */

/* --------------------------------- Nav ---------------------- */

.Nav {
  width: 100%;
  background-color: rgb(86, 82, 82);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  cursor: pointer;
  position: fixed;
  margin-top: 100px;
}

.searchForm {
  width: 80%;
  padding: 1rem 0 0 0.75rem;
  margin: 0 90px 0 0;
}

.searchForm input[type="text"] {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  min-height: 48px;
  font-size: 1rem;
  padding: 0.25rem;
  border-radius: 0.25rem;
  outline: none;
}

.searchForm label {
  position: absolute;
  left: -99999px;
}

.Nav ul {
  color: #fff;
  list-style-type: none;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-left: 1rem;
  align-items: space-around;

}

.Nav li {
  padding: 1rem;
}

.Nav li:hover, 
.Nav li:focus {
  padding: 1rem;
}

.Nav li a {
  color: #fff;
  text-decoration: none;
}

.Nav li:hover, 
.Nav li:focus, 
.Nav li:hover a, 
.Nav li:focus a  {
  background-color: #eee;
  color: #333;
}

.Nav li:hover a, 
.Nav li:focus a {
  cursor: pointer;
}


/* --------------------------------- Home ---------------------- */

.Home, .Missing {
  width: 100%;
  margin-top: 160px;
  flex-grow: 1;
  padding: 1rem;
  overflow-y: auto;
  background-color: #fff;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%/4, max(64px, 100%/4)), 1fr));
}

/* --------------------------------- Sobre ---------------------- */
.About {
  width: 100%;
  margin-top: 160px;
  flex-grow: 1;
  padding: 1rem;
  overflow-y: auto;
  background-color: #fff;
  display: table;
  /* grid-template-columns: repeat(auto-fit, minmax(min(100%/3, max(64px, 100%/3)), 1fr)); */
  
}
/* --------------------------------- Product ---------------------- */

.Product {
  max-width: 100%;
  margin-top: .3rem;
  padding-bottom: 1rem;
  text-align: center;
}

.Product h2 {
  margin: 0;
}

.Home .Product a {
  text-decoration: none;
}

.Home .Product a, 
.Home .Product a:visited {
  color: blue;
}

.Product:first-child {
  margin-top: none;
}

.Product:last-child {
  border-bottom: none;
}

/* --------------------------------- ProductPage ---------------------- */

.ProductPage {
  margin-top: 200px;
  margin-right: 30px;
  height:60vh;
}

.ProductPage table {
  table-layout: fixed;
  width: 100%;
}

.ProductPage caption {
  font-family: 'Rock Salt', cursive;
  letter-spacing: 2px;

}

.ProductPage thead th:nth-child(1) {
  width: 20%;
}

.ProductPage thead th:nth-child(2) {
  width: 30%;
}

.ProductPage thead th:nth-child(3) {
  width: 50%;
}

/* .ProductPage thead th:nth-child(4) {
  width: 45%;
} */

.ProductPage th, td {
  padding: 5px;
}

.ProductPage thead th, tfoot th {
  font-family: 'Rock Salt', cursive;
}

.ProductPage th {
  letter-spacing: 2px;
}

.ProductPage td {
  /* letter-spacing: 1px; */
  list-style-type: none;
 

}

.ProductPage tbody td {
  text-align: center;
}

.ProductPage tfoot th {
  text-align: center;
}

/* .product img {
  width: 300px;
  height: 300px;
  margin: 1rem;

} */

/* .product p {
  margin: 1rem;
} */

/* .product-description {
  margin: 1rem;
} */

/* .Missing p {
  margin-top: 1rem;
} */

/* .ProductPage button {
  height: 48px;
  min-width: 48px;
  border-radius: 0.25rem;
  padding: 0.5rem;
  margin: 1rem;
  font-size: 1rem;
  color: #fff;
  cursor: pointer;
} */

.button {
  background-color: blue;
  color: #fff;
  font-size: 15px;
  padding: 8px 20px;
  border-radius: 10%;
  margin: 1rem;
  cursor: pointer;
}

/* --------------------------------- FaleConosco ---------------------- */

.contact{
  padding-top: 200px;
  padding-bottom: 2.5rem;
  background-color: white;
  display: flex;
  height:75vh;
}

.left {
  flex: 1;
  overflow: hidden;
  margin-left: 200px;
  height: 100%;
  margin-top: 200px;

}

.left img {
  height: 50%;
}

.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}
 .right h2 {
  font-size: 30px;
  margin-left: 190px;
  
 }
 .right form {
  width: 70%;
  height:90%;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content:  space-around;
 }
 .right input {
  width: 300px;
  height: 30px;
  font-size: 14px;
  border-radius: 10px;
  border: 1px solid #333;
  padding: 10px;
 }
.right textarea {
  width: 300px;
  height: 200px;
  font-size: 14px;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #333;

}
.right button {
  width: 150px;
  height: 30px;
  color: white;
  background-color: blue;
  border: none;
  border-radius: 10px;
  font-weight: 500;
  cursor: pointer;
}
.right button:focus,
.right button:hover {
  outline: none;
  background-color: green;
  color: #333;
}
span{
  color: green;
}

/* --------------------------------- Footer ---------------------- */

.Footer {
  width: 100%;
  color: #fff;
  background-color: rgb(86, 82, 82);
  /* padding: 0.75rem; */
  display: table;
  /* position: absolute; */
  bottom: 0;
  height: 2.5rem;  
}

.tbodyFooter {
  text-align: center;
}

/* --------------------------------- min-width: 610px ---------------------- */

@media only screen and (min-width: 610px) {
  html {
    font-size: 22px;
  }

.Home, .Missing {
  width: 100%;
  flex-grow: 1;
  padding: 1rem;
  overflow-y: auto;
  background-color: #fff;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%/4, max(64px, 100%/4)), 1fr));
}


.About {
  width: 100%;
  flex-grow: 1;
  padding: 1rem;
  overflow-y: auto;
  background-color: #fff;
  display: table;
  /* grid-template-columns: repeat(auto-fit, minmax(min(100%/3, max(64px, 100%/3)), 1fr)); */
  
}

.Product {
  max-width: 100%;
  margin-top: .3rem;
  padding-bottom: 1rem;
  text-align: center;
}

.Product h2 {
  margin: 0;
}

.Home .Product a {
  text-decoration: none;
}

.Home .Product a, 
.Home .Product a:visited {
  color: blue;
}

.Product:first-child {
  margin-top: none;
}

.Product:last-child {
  border-bottom: none;
}

.product-description {
  margin: 1rem;
}

.Missing p {
  margin-top: 1rem;
}

.PostPage button {
  height: 48px;
  min-width: 48px;
  border-radius: 0.25rem;
  padding: 0.5rem;
  margin-right: 0.5rem;
  font-size: 1rem;
  color: #fff;
  cursor: pointer;
}

.deleteButton {
  background-color: red;
}

.button {
  background-color: blue;
  color: #fff;
  font-size: 15px;
  padding: 8px 20px;
  border-radius: 10%;
  margin: 1rem;
  cursor: pointer;
}

.statusMsg {
  margin-top: 2rem;
}

  .Header h1 {
    font-size: 2rem;
  }

  .Nav {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }

  .Nav ul {
    text-align: right;
  }

  .Nav li:hover, 
  .Nav li:focus, 
  .Nav li:hover a, 
  .Nav li:focus a  {
    background-color: #eee;
    color: #333;
  }

  .searchForm {
    width: 50%;
    padding: .5rem 0;
  }
 
  .searchForm input[type="text"] {
    margin-left: 0.5rem;
  }
}



@media only screen and (min-width: 992px) {

  .Header svg {
    font-size: 3rem;
  }
}

/* --------------------------------- COMMUNICATION ---------------------- */
.communication .whatsapp-card {
  background-color: var(--light-color);
  border-radius: 10px;
  width: 300px;
  min-height: 400px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 0.5em;
}

.communication .whatsapp-card .title {
  color: var(--check-color);
  font-size: 1.4em;
  margin-top: 0.5em;
}

.communication .whatsapp-card .search_contact_whatsapp {
  width: 95%;
  display: grid;
  grid-template-columns: 10fr 1fr;
  column-gap: 1em;
  margin: 1em 0;
}

.communication .whatsapp-card .search_contact_whatsapp .add_new_client {
  margin-top: 0.5em;
  color: var(--grey-color);
  cursor: pointer;
}

/* --------------------------------- ERRORS ---------------------------------- */
.errors {
  font-size: 0.75em;
  background-color: var(--closing-color);
  color: var(--light-color);
  width: 90%;
  padding: 0.2em 0.5em;
  border-radius: 10px;
  text-align: center;
  margin-top: 0.8em;
}

.errors-null {
  font-size: 0.75em;
  background-color: none;
  color: var(--light-color);
  width: 90%;
  padding: 0.2em 0.5em;
  border-radius: 10px;
  text-align: center;
  margin-top: 0.8em;
}
